@using Mvc5StarterKit.Models
@using System.Web.Script.Serialization;
@{
    ViewBag.Title = "Report Parts";
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            // This is for demonstration only. Please refer to your [IzendaReportPart] table to populate samples here.
            // hard code an array object of report parts.
            var reportParts = [
                {
                    "selector": "izenda-report-part1",              // the element id which we want to render report part on.
                    "id": "[your report part id]",   // the id of report part

                    // this is a property value example you can pass to API
                    //"overridingFilterValue": {                      // filter object to pass to api
                    //    p1value: 60,                                // override filter value at position 1 which is applying on current report part (Quantity greater than 40)
                    //    p2value: '40;#50'                           // override filter value at position 2 which is applying on current report part (Unit Price between 40 and 50)
                    //}
                },
                {
                    "selector": "izenda-report-part2",
                    "id": "[your report part id]",

                    // this is a property value example you can pass to API
                    //"overridingFilterValue": {
                    //    p1value: 60                                 // Quantity greater than 60
                    //}
                },
                {
                    "selector": "izenda-report-part3",
                    "id": "[your report part id]",

                    // this is a property value example you can pass to API
                    //"overridingFilterValue": {
                    //    p1value: 60                                 // Quantity greater than 60
                    //}
                }
            ]

            izendaInitReportPart(reportParts);
        });

        $(window).load(function () {
            $("#reportPartLoader").hide();
            $("#reportPartLoaderText").hide();
        })
    </script>
}
<style>
    .report-part-haft-width {
        float: left;
        width: 40%;
        height: 40%;
        margin-left: 5%;
        margin-top: 5%;
    }

    .report-part-fullwidth {
        float: left;
        width: 85%;
        height: 40%;
        margin-left: 5%;
        margin-top: 5%;
    }
</style>

<div class="loader" id="reportPartLoader"> </div>
<div class="izenda-container">
    <div class="report-part-haft-width" id="izenda-report-part1"></div>
    <div class="report-part-haft-width" id="izenda-report-part2"></div>
    <div class="report-part-fullwidth" id="izenda-report-part3"></div>
</div>
