
GO
CREATE TABLE [dbo].[IzendaAccessRight](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Type] [int] NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaAdvancedSetting]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaAdvancedSetting](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Value] [nvarchar](2048) NULL,
	[DefaultValue] [nvarchar](256) NULL,
	[Type] [nvarchar](50) NULL,
	[TenantId] [uniqueidentifier] NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaCity]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[IzendaCity](
	[GeonameId] [varchar](10) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[AsciiName] [nvarchar](255) NULL,
	[AlternateNames] [nvarchar](255) NULL,
	[Latitude] [varchar](15) NULL,
	[Longitude] [varchar](15) NULL,
	[FeatureClasss] [nvarchar](255) NULL,
	[FeatureCode] [nvarchar](255) NULL,
	[CountryCode] [nvarchar](255) NULL,
	[Cc2] [nvarchar](255) NULL,
	[Admin1Code] [varchar](10) NULL,
	[Admin2Code] [nvarchar](255) NULL,
	[Admin3Code] [nvarchar](255) NULL,
	[Admin4Code] [nvarchar](255) NULL,
	[Population] [varchar](10) NULL,
	[Elevation] [varchar](10) NULL,
	[Dem] [varchar](10) NULL,
	[Timezone] [nvarchar](255) NULL,
	[ModificationDate] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IzendaCommonFilterField]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[IzendaCommonFilterField](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](1000) NULL,
	[DisplayName] [varchar](256) NULL,
	[Value] [varchar](max) NULL,
	[OperatorId] [uniqueidentifier] NULL,
	[OperatorSetting] [nvarchar](100) NULL,
	[DataType] [nvarchar](50) NULL,
	[DashboardId] [uniqueidentifier] NULL,
	[Position] [int] NULL,
	[FilterFieldContent] [varchar](max) NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IzendaConnection]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaConnection](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[ServerTypeId] [uniqueidentifier] NOT NULL,
	[ConnectionString] [nvarchar](500) NULL,
	[Visible] [bit] NULL,
	[Deleted] [bit] NULL,
	[RelateToConnectionId] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NULL,
	[Color] [nvarchar](10) NULL,
	[Version] [int] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_Connection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaDashboard]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaDashboard](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CategoryId] [uniqueidentifier] NULL,
	[SubCategoryId] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NULL,
	[ImageUrl] [nvarchar](2048) NULL,
	[StretchImage] [bit] NULL,
	[BackgroundColor] [nvarchar](50) NULL,
	[ShowFilterDescription] [bit] NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[Owner] [nvarchar](256) NULL,
	[LastViewed] [datetime] NULL,
	[NumberOfView] [bigint] NULL,
	[RenderingTime] [float] NULL,
	[OwnerId] [uniqueidentifier] NULL,
	[CreatedById] [uniqueidentifier] NULL,
	[ModifiedById] [uniqueidentifier] NULL,
	[SourceId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaDashboardPart]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaDashboardPart](
	[Id] [uniqueidentifier] NOT NULL,
	[DashboardId] [uniqueidentifier] NULL,
	[Type] [nvarchar](50) NULL,
	[Title] [nvarchar](256) NULL,
	[ReportId] [uniqueidentifier] NULL,
	[ReportPartId] [uniqueidentifier] NULL,
	[NumberOfRecord] [int] NULL,
	[FilterDescription] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[PositionX] [int] NULL,
	[PositionY] [int] NULL,
	[Width] [int] NULL,
	[Height] [int] NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[SourceId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaDashboardPartFilterField]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaDashboardPartFilterField](
	[Id] [uniqueidentifier] NOT NULL,
	[FilterFieldId] [uniqueidentifier] NULL,
	[Value] [nvarchar](max) NULL,
	[OperatorId] [uniqueidentifier] NULL,
	[OperatorSetting] [nvarchar](100) NULL,
	[DashboardPartId] [uniqueidentifier] NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaDataFormat]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaDataFormat](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Format] [nvarchar](100) NULL,
	[Description] [nvarchar](256) NULL,
	[Category] [nvarchar](100) NULL,
	[SubCategory] [nvarchar](100) NULL,
	[DataType] [nvarchar](50) NULL,
	[AllowFilter] [bit] NULL,
	[AllowFieldProperty] [bit] NULL,
	[GroupBy] [nvarchar](50) NULL,
	[FormatDataType] [nvarchar](50) NULL,
	[Position] [int] NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_IzendaDataFormat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaDataSourceCategory]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaDataSourceCategory](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[TenantId] [uniqueidentifier] NULL,
	[Deleted] [bit] NULL,
	[Version] [int] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_IzendaDataSourceCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaDataTypeFunctionMapping]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaDataTypeFunctionMapping](
	[Id] [uniqueidentifier] NOT NULL,
	[DataType] [nvarchar](50) NOT NULL,
	[FunctionId] [uniqueidentifier] NOT NULL,
	[FormatDataType] [nvarchar](50) NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_IzendaDataTypeFunctionMapping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaDBVersion]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaDBVersion](
	[Version] [nvarchar](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaEmailSetting]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaEmailSetting](
	[Id] [uniqueidentifier] NOT NULL,
	[DisplayName] [nvarchar](256) NULL,
	[EmailFromAddress] [nvarchar](256) NULL,
	[UseSystemConfiguration] [bit] NULL,
	[Server] [nvarchar](256) NULL,
	[Port] [int] NULL,
	[SecureConnection] [bit] NULL,
	[Login] [nvarchar](256) NULL,
	[Password] [nvarchar](500) NULL,
	[TenantId] [uniqueidentifier] NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaExportMarginDefaultValue]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaExportMarginDefaultValue](
	[Id] [uniqueidentifier] NOT NULL,
	[Type] [int] NOT NULL,
	[TopValue] [float] NULL,
	[BottomValue] [float] NULL,
	[LeftValue] [float] NULL,
	[RightValue] [float] NULL,
	[HeaderValue] [float] NULL,
	[FooterValue] [float] NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaFilterField]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaFilterField](
	[Id] [uniqueidentifier] NOT NULL,
	[FilterId] [uniqueidentifier] NULL,
	[QuerySourceFieldId] [uniqueidentifier] NULL,
	[QuerySourceId] [uniqueidentifier] NULL,
	[QuerySourceType] [nvarchar](50) NULL,
	[RelationshipId] [uniqueidentifier] NULL,
	[Position] [int] NULL,
	[Alias] [nvarchar](256) NULL,
	[ReportFieldAlias] [nvarchar](256) NULL,
	[ReportPartTitle] [nvarchar](256) NULL,
	[Visible] [bit] NULL,
	[Required] [bit] NULL,
	[Cascading] [bit] NULL,
	[OperatorId] [uniqueidentifier] NULL,
	[OperatorSetting] [nvarchar](100) NULL,
	[Value] [nvarchar](max) NULL,
	[DataFormatId] [uniqueidentifier] NULL,
	[FontFamily] [nvarchar](50) NULL,
	[FontSize] [int] NULL,
	[TextColor] [nvarchar](10) NULL,
	[BackgroundColor] [nvarchar](10) NULL,
	[FontBold] [bit] NULL,
	[FontItalic] [bit] NULL,
	[FontUnderline] [bit] NULL,
	[SortType] [nvarchar](10) NULL,
	[Deleted] [bit] NULL,
	[Version] [int] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_IzendaFilterField] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaFilterOperator]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaFilterOperator](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Label] [nvarchar](256) NULL,
	[OperatorGroupId] [uniqueidentifier] NULL,
	[AllowParameter] [bit] NULL,
	[Position] [int] NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_IzendaFilterOperator] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaFilterOperatorGroup]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaFilterOperatorGroup](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_IzendaFilterOperatorGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaFilterOperatorRule]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaFilterOperatorRule](
	[Id] [uniqueidentifier] NOT NULL,
	[OperatorId] [uniqueidentifier] NULL,
	[AllowNull] [bit] NULL,
	[IsPairedValues] [bit] NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_IzendaFilterOperatorRule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaFunction]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IzendaFunction](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](256) NOT NULL,
	[Expression] [nvarchar](256) NULL,
	[SubTotal] [bit] NULL,
	[GrandTotal] [bit] NULL,
	[FieldProperty] [bit] NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_IzendaFunction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IzendaLanguage]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaLanguage](
	[Id] [uniqueidentifier] NULL,
	[Language] [nvarchar](150) NULL,
	[CultureName] [nvarchar](20) NULL,
	[Version] [int] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](150) NULL,
	[Deleted] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaLicenseSetting]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaLicenseSetting](
	[Id] [uniqueidentifier] NOT NULL,
	[Online] [bit] NULL,
	[LicenseKey] [nvarchar](max) NULL,
	[Token] [nvarchar](max) NULL,
	[LastRefresh] [datetime] NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_License] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaPasswordHistory]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaPasswordHistory](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[PasswordHash] [nvarchar](256) NULL,
	[PasswordSalt] [nvarchar](256) NULL,
	[Version] [int] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Deleted] [bit] NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaPerformanceStatsTrend]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaPerformanceStatsTrend](
	[Id] [uniqueidentifier] NOT NULL,
	[NumberOfCore] [int] NULL,
	[NumberOfServer] [int] NULL,
	[NumberOfReport] [bigint] NULL,
	[NumberOfReportCreator] [bigint] NULL,
	[NumberOfDashboard] [bigint] NULL,
	[NumberOfDashboardCreator] [bigint] NULL,
	[NumberOfReportView] [bigint] NULL,
	[NumberOfDashboardView] [bigint] NULL,
	[NumberOfActiveTenant] [bigint] NULL,
	[NumberOfInactiveTenant] [bigint] NULL,
	[NumberOfActiveUser] [bigint] NULL,
	[NumberOfInactiveUser] [bigint] NULL,
	[NumberOfCreateReportUser] [bigint] NULL,
	[NumberOfCreateDashboardUser] [bigint] NULL,
	[IzendaVersion] [nvarchar](100) NULL,
	[IzendaConfigurationDatabase] [nvarchar](256) NULL,
	[DatabaseTypesInUse] [nvarchar](max) NULL,
	[ClientLicenseKey] [nvarchar](max) NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaPostalCode]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[IzendaPostalCode](
	[PostalCode] [varchar](10) NOT NULL,
	[PlaceName] [nvarchar](255) NULL,
	[Province] [nvarchar](255) NULL,
	[Latitude] [varchar](15) NULL,
	[Longitude] [varchar](15) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IzendaQuerySource]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaQuerySource](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Selected] [bit] NULL,
	[Deleted] [bit] NULL,
	[ParentQuerySourceId] [uniqueidentifier] NULL,
	[CategoryId] [uniqueidentifier] NULL,
	[DataSourceCategoryId] [uniqueidentifier] NULL,
	[Alias] [nvarchar](256) NULL,
	[ExtendedProperties] [nvarchar](4000) NULL,
	[PhysicalChange] [int] NULL,
	[Approval] [int] NULL,
	[Version] [int] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_QuerySource] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaQuerySourceCategory]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaQuerySourceCategory](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[ParentCategoryId] [uniqueidentifier] NULL,
	[ConnectionId] [uniqueidentifier] NOT NULL,
	[Deleted] [bit] NULL,
	[Version] [int] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_QuerySourceCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaQuerySourceField]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaQuerySourceField](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[DataType] [nvarchar](50) NULL,
	[IzendaDataType] [nvarchar](50) NULL,
	[AllowDistinct] [bit] NULL,
	[Alias] [nvarchar](256) NULL,
	[Visible] [bit] NULL,
	[Filterable] [bit] NULL,
	[QuerySourceId] [uniqueidentifier] NULL,
	[Deleted] [bit] NULL,
	[ParentId] [uniqueidentifier] NULL,
	[Type] [int] NULL,
	[GroupPosition] [int] NULL,
	[Position] [int] NULL,
	[FilteredValue] [nvarchar](max) NULL,
	[ExtendedProperties] [nvarchar](max) NULL,
	[MatchedTenant] [bit] NULL,
	[PhysicalChange] [int] NULL,
	[Approval] [int] NULL,
	[FunctionName] [nvarchar](256) NULL,
	[Expression] [nvarchar](500) NULL,
	[ReportId] [uniqueidentifier] NULL,
	[IsCalculated] [bit] NULL,
	[Version] [int] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_IzendaQuerySourceField] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaRelationship]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaRelationship](
	[Id] [uniqueidentifier] NOT NULL,
	[JoinQuerySourceId] [uniqueidentifier] NOT NULL,
	[ForeignQuerySourceId] [uniqueidentifier] NOT NULL,
	[JoinFieldId] [uniqueidentifier] NULL,
	[ForeignFieldId] [uniqueidentifier] NULL,
	[Alias] [nvarchar](256) NULL,
	[SystemRelationship] [bit] NULL,
	[JoinType] [nvarchar](50) NULL,
	[ParentRelationshipId] [uniqueidentifier] NULL,
	[ReportId] [uniqueidentifier] NULL,
	[ForeignAlias] [nvarchar](256) NULL,
	[RelationshipPosition] [int] NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_IzendaRelationship] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaRelationshipKeyJoin]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaRelationshipKeyJoin](
	[Id] [uniqueidentifier] NOT NULL,
	[RelationshipId] [uniqueidentifier] NOT NULL,
	[JoinQuerySourceId] [uniqueidentifier] NOT NULL,
	[ForeignQuerySourceId] [uniqueidentifier] NOT NULL,
	[JoinFieldId] [uniqueidentifier] NOT NULL,
	[ForeignFieldId] [uniqueidentifier] NOT NULL,
	[Operator] [nvarchar](50) NOT NULL,
	[JoinSourceAlias] [nvarchar](256) NULL,
	[ForeignSourceAlias] [nvarchar](256) NULL,
	[Position] [int] NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_IzendaRelationshipKeyJoin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaReport]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaReport](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Type] [int] NOT NULL,
	[PreviewRecord] [int] NOT NULL,
	[AdvancedMode] [bit] NOT NULL,
	[AllowNulls] [bit] NOT NULL,
	[IsDistinct] [bit] NOT NULL,
	[CategoryId] [uniqueidentifier] NULL,
	[SubCategoryId] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NULL,
	[Description] [nvarchar](max) NULL,
	[HeaderContent] [nvarchar](max) NULL,
	[FooterContent] [nvarchar](max) NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[LastViewed] [datetime] NULL,
	[Owner] [nvarchar](256) NULL,
	[OwnerId] [uniqueidentifier] NULL,
	[Title] [nvarchar](256) NULL,
	[TitleDescriptionContent] [nvarchar](max) NULL,
	[ExcludedRelationships] [nvarchar](max) NULL,
	[NumberOfView] [bigint] NULL,
	[RenderingTime] [float] NULL,
	[CreatedById] [uniqueidentifier] NULL,
	[ModifiedById] [uniqueidentifier] NULL,
	[ExportFormatSettingData] [nvarchar](max) NULL,
	[SnapToGrid] [bit] NULL,
	[UsingFields] [nvarchar](max) NULL,
	[SourceId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaReportCategory]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaReportCategory](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Type] [int] NOT NULL,
	[ParentId] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaReportDataSource]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaReportDataSource](
	[Id] [uniqueidentifier] NOT NULL,
	[QuerySourceId] [uniqueidentifier] NOT NULL,
	[ReportId] [uniqueidentifier] NOT NULL,
	[Deleted] [bit] NULL,
	[Version] [int] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaReportFilter]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaReportFilter](
	[Id] [uniqueidentifier] NOT NULL,
	[Logic] [nvarchar](2000) NULL,
	[Visible] [bit] NULL,
	[ReportId] [uniqueidentifier] NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_IzendaReportFilter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaReportHistory]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaReportHistory](
	[Id] [uniqueidentifier] NOT NULL,
	[ReportId] [uniqueidentifier] NOT NULL,
	[ReportName] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Definition] [nvarchar](max) NOT NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaReportPart]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaReportPart](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](256) NOT NULL,
	[PositionX] [int] NULL,
	[PositionY] [int] NULL,
	[Width] [int] NULL,
	[Height] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[NumberOfRecord] [int] NULL,
	[ReportId] [uniqueidentifier] NOT NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[SourceId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaReportSetting]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaReportSetting](
	[Id] [uniqueidentifier] NOT NULL,
	[EnforceVersionHistory] [bit] NULL,
	[NumOfArchivedVersionToKeep] [int] NULL,
	[RemoveArchivedVersions] [bit] NULL,
	[RecurrentReportSettingData] [nvarchar](max) NULL,
	[IsScheduled] [bit] NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaRole]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaRole](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[PermissionData] [nvarchar](max) NULL,
	[QuerySources] [nvarchar](max) NULL,
	[TenantId] [uniqueidentifier] NULL,
	[Active] [bit] NULL,
	[Deleted] [bit] NULL,
	[Version] [int] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaSecurityPolicy]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaSecurityPolicy](
	[Id] [uniqueidentifier] NOT NULL,
	[MinNumberOfPasswordLenght] [int] NULL,
	[MaxNumberOfPasswordLenght] [int] NULL,
	[MinNumberOfSpecialCharacter] [int] NULL,
	[MaxNumberOfSpecialCharacter] [int] NULL,
	[MinNumberOfUppercaseCharacter] [int] NULL,
	[MaxNumberOfUppercaseCharacter] [int] NULL,
	[MinNumberOfLowercaseCharacter] [int] NULL,
	[MaxNumberOfLowercaseCharacter] [int] NULL,
	[MinNumberOfNumericCharacter] [int] NULL,
	[MaxNumberOfNumericCharacter] [int] NULL,
	[MaxNumberOfRepeatSequential] [int] NULL,
	[MinNumberOfPasswordAge] [int] NULL,
	[MaxNumberOfPasswordAge] [int] NULL,
	[NotifyUseDuring] [int] NULL,
	[NumberOfPasswordToKeep] [int] NULL,
	[PasswordLinkValidity] [int] NULL,
	[NumberOfQuestionProfile] [int] NULL,
	[NumberOfQuestionResetPassword] [int] NULL,
	[NumberOfFailedLogonAllowed] [int] NULL,
	[NumberOfFailedAnswerAllowed] [int] NULL,
	[LockoutPeriod] [int] NULL,
	[TenantId] [uniqueidentifier] NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaSecurityQuestion]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaSecurityQuestion](
	[Id] [uniqueidentifier] NOT NULL,
	[Question] [nvarchar](max) NOT NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[TenantId] [uniqueidentifier] NULL,
	[OrderNumber] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaServer]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaServer](
	[Id] [uniqueidentifier] NOT NULL,
	[ServerName] [nvarchar](1000) NULL,
	[ServerCore] [int] NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaSubsCommonFilterField]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaSubsCommonFilterField](
	[Id] [uniqueidentifier] NOT NULL,
	[CommonFilterFieldId] [uniqueidentifier] NULL,
	[Value] [nvarchar](max) NULL,
	[OperatorId] [uniqueidentifier] NULL,
	[OperatorSetting] [nvarchar](100) NULL,
	[SubscriptionId] [uniqueidentifier] NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaSubscription]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaSubscription](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Schedule] [nvarchar](max) NULL,
	[FilterValueSelection] [nvarchar](max) NULL,
	[Type] [nvarchar](100) NULL,
	[TimeZoneName] [nvarchar](256) NULL,
	[TimeZoneValue] [nvarchar](256) NULL,
	[StartDate] [datetime] NULL,
	[StartDateUtc] [datetime] NULL,
	[StartTime] [datetime] NULL,
	[RecurrenceType] [int] NULL,
	[RecurrencePattern] [int] NULL,
	[RecurrencePatternValue] [nvarchar](max) NULL,
	[IsEndless] [bit] NULL,
	[IsScheduled] [bit] NULL,
	[Occurrence] [int] NULL,
	[EndDate] [datetime] NULL,
	[EndDateUtc] [datetime] NULL,
	[DeliveryType] [nvarchar](100) NULL,
	[DeliveryMethod] [nvarchar](100) NULL,
	[ExportFileType] [nvarchar](50) NULL,
	[ExportAttachmentType] [nvarchar](50) NULL,
	[EmailSubject] [nvarchar](256) NULL,
	[EmailBody] [nvarchar](max) NULL,
	[ReportId] [uniqueidentifier] NULL,
	[DashboardId] [uniqueidentifier] NULL,
	[Recipients] [nvarchar](max) NULL,
	[LastSuccessfulRun] [nvarchar](500) NULL,
	[NextScheduledRun] [nvarchar](500) NULL,
	[LastSuccessfulRunDate] [datetime] NULL,
	[NextScheduledRunDate] [datetime] NULL,
	[IsSubscription] [bit] NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[CreatedById] [uniqueidentifier] NULL,
 CONSTRAINT [PK_IzendaReportSubscription] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaSubscriptionFilterField]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaSubscriptionFilterField](
	[Id] [uniqueidentifier] NOT NULL,
	[FilterFieldId] [uniqueidentifier] NULL,
	[Value] [nvarchar](max) NULL,
	[OperatorId] [uniqueidentifier] NULL,
	[OperatorSetting] [nvarchar](100) NULL,
	[SubscriptionId] [uniqueidentifier] NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_IzendaSubscriptionFilterField] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaSystemSetting]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IzendaSystemSetting](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](256) NOT NULL,
	[Value] [nvarchar](256) NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IzendaSystemVariable]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaSystemVariable](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[DataType] [nvarchar](50) NULL,
	[Description] [nvarchar](2000) NULL,
	[Scope] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaTemporaryData]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaTemporaryData](
	[Id] [uniqueidentifier] NOT NULL,
	[ObjectId] [uniqueidentifier] NULL,
	[ObjectData] [nvarchar](max) NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_IzendaTemporaryData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaTenant]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[IzendaTenant](
	[Id] [uniqueidentifier] NOT NULL,
	[TenantID] [varchar](256) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](256) NULL,
	[Active] [bit] NULL,
	[Deleted] [bit] NULL,
	[Modules] [nvarchar](500) NULL,
	[PermissionData] [nvarchar](max) NULL,
	[Version] [int] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_IzendaTenant] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IzendaTimePeriod]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaTimePeriod](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Type] [nvarchar](100) NULL,
	[Value] [nvarchar](256) NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
 CONSTRAINT [PK_IzendaTimePeriod] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaUser]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[IzendaUser](
	[Id] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[FirstName] [nvarchar](256) NULL,
	[LastName] [nvarchar](256) NULL,
	[PasswordHash] [nvarchar](256) NULL,
	[PasswordSalt] [nvarchar](256) NULL,
	[TenantId] [uniqueidentifier] NULL,
	[Version] [int] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
	[EmailAddress] [varchar](256) NULL,
	[CurrentTokenHash] [nvarchar](256) NULL,
	[Active] [bit] NULL,
	[Deleted] [bit] NULL,
	[DataOffset] [int] NULL,
	[TimestampOffset] [int] NULL,
	[InitPassword] [bit] NULL,
	[RetryLoginTime] [smallint] NULL,
	[LastTimeAccessed] [datetime] NULL,
	[PasswordLastChanged] [datetime] NULL,
	[Locked] [bit] NULL,
	[LockedDate] [datetime] NULL,
	[CultureName] [nvarchar](20) NULL,
	[DateFormat] [nvarchar](20) NULL,
	[SystemAdmin] [bit] NULL,
	[SecurityQuestionLastChanged] [datetime] NULL,
	[NumberOfFailedSecurityQuestion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IzendaUserPermission]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaUserPermission](
	[Id] [uniqueidentifier] NOT NULL,
	[ReportId] [uniqueidentifier] NULL,
	[DashboardId] [uniqueidentifier] NULL,
	[AssignedTo] [nvarchar](4000) NULL,
	[AssignedType] [int] NULL,
	[AccessRightId] [uniqueidentifier] NULL,
	[Position] [int] NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaUserRole]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaUserRole](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[RoleId] [uniqueidentifier] NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaUserSecurityQuestion]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaUserSecurityQuestion](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[SecurityQuestionId] [uniqueidentifier] NOT NULL,
	[Answer] [nvarchar](max) NOT NULL,
	[Version] [int] NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Modified] [datetime] NULL,
	[ModifiedBy] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaWorkspace]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaWorkspace](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Description] [nvarchar](max) NULL,
	[TenantId] [uniqueidentifier] NULL,
	[OwnerId] [uniqueidentifier] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[Deleted] [bit] NULL,
	[Created] [datetime] NULL,
	[Modified] [datetime] NULL,
	[CopyRoles] [bit] NULL,
	[CopyReport] [bit] NULL,
	[CopyDashboard] [bit] NULL,
	[CopyRolePermission] [bit] NULL,
	[CopyAdvancedSettings] [bit] NULL,
	[CopyDataModel] [bit] NULL,
	[CopyTenantPermissions] [bit] NULL,
	[SourceId] [uniqueidentifier] NULL,
	[SelectAllTenants] [bit] NULL,
	[SourceDataModel] [nvarchar](max) NULL,
	[SourceHashCode] [nvarchar](500) NULL,
	[CopiedRolesData] [nvarchar](max) NULL,
	[CopiedRolePermissionData] [nvarchar](max) NULL,
	[TotalHashCode] [nvarchar](500) NULL,
	[SourceReportModel] [nvarchar](max) NULL,
	[SourceTemplateModel] [nvarchar](max) NULL,
	[SourceDashboardModel] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaWorkspaceMapping]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaWorkspaceMapping](
	[Id] [uniqueidentifier] NOT NULL,
	[WorkspaceId] [uniqueidentifier] NULL,
	[FromDatabaseName] [nvarchar](256) NULL,
	[Type] [int] NULL,
	[FromObject] [nvarchar](256) NULL,
	[ToDatabaseName] [nvarchar](256) NULL,
	[ToObject] [nvarchar](256) NULL,
	[IsGlobal] [bit] NULL,
	[FromServer] [nvarchar](256) NULL,
	[ToServer] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaWorkspaceMappingTenant]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaWorkspaceMappingTenant](
	[WorkspaceMappingId] [uniqueidentifier] NULL,
	[TenantId] [uniqueidentifier] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IzendaWorkspaceTenant]    Script Date: 1/18/2017 6:12:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzendaWorkspaceTenant](
	[WorkspaceId] [uniqueidentifier] NOT NULL,
	[TenantId] [uniqueidentifier] NULL,
	[Status] [int] NULL,
	[SourceDataModel] [nvarchar](max) NULL,
	[PhysicalDataModel] [nvarchar](max) NULL,
	[DestinationHashCode] [nvarchar](500) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[IzendaAccessRight] ([Id], [Name], [Type], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'13698ebf-3e8e-43e1-9e2b-ad3f17d7d001', N'Quick Edit', 0, 1, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaAccessRight] ([Id], [Name], [Type], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'13698ebf-3e8e-43e1-9e2b-ad3f17d7d002', N'Save As', 0, 1, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaAccessRight] ([Id], [Name], [Type], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'13698ebf-3e8e-43e1-9e2b-ad3f17d7d003', N'Locked', 0, 1, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaAdvancedSetting] ([Id], [Name], [Value], [DefaultValue], [Type], [TenantId], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'5b96adfc-02c6-4f06-b1ef-0556320227e9', N'SetAdditiveFieldAutoFilterable', N'0', N'0', N'Security', NULL, NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaAdvancedSetting] ([Id], [Name], [Value], [DefaultValue], [Type], [TenantId], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'382f900c-b5cb-43a1-9bc6-1212ed05f5d0', N'ShowIntroductionText', N'0', N'0', N'Others', NULL, NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaAdvancedSetting] ([Id], [Name], [Value], [DefaultValue], [Type], [TenantId], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'5be90952-c6f7-4a13-90fd-16f47d238df5', N'SetAdditiveFieldAutoFilterable', N'0', N'0', N'Security', N'9dd5ae29-bdb9-4520-ba35-643d4ccc1708', NULL, 0, NULL, NULL, CAST(0x0000A6FF00AB76FF AS DateTime), NULL)
GO
INSERT [dbo].[IzendaConnection] ([Id], [Name], [ServerTypeId], [ConnectionString], [Visible], [Deleted], [RelateToConnectionId], [TenantId], [Color], [Version], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'e2d38b4c-e0dc-4d7d-88b9-3797665d2fa8', N'retail', N'572bd576-8c92-4901-ab2a-b16e38144813', N'a3dbDHL/DyxmiAL0HKF0Huv0GSmu6PLX3lxXjYSIKBuQVYYCsGLNBskFn5Xi5+21kce4Zt9w6YNGyhyFF6D2lIb7/wBBzNUXOOo4FtdAZZw=', 1, 0, NULL, N'9dd5ae29-bdb9-4520-ba35-643d4ccc1708', NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaDataFormat] ([Id], [Name], [Format], [Description], [Category], [SubCategory], [DataType], [AllowFilter], [AllowFieldProperty], [GroupBy], [FormatDataType], [Position], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'4468205f-3b6b-47cf-8edb-009d56cd8eca', N'0000', N'0000', N'Positive: 15000, Negative: -15000', N'Number', N'', N'Numeric', 0, 1, N'', NULL, 94, NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaDataFormat] ([Id], [Name], [Format], [Description], [Category], [SubCategory], [DataType], [AllowFilter], [AllowFieldProperty], [GroupBy], [FormatDataType], [Position], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'e02ef6b7-685e-4e17-9194-00bf9e67f17f', N'$0000', N'$0000', N'Positive: $15000, Negative: -$15000', N'Currency', N'', N'Numeric', 0, 1, N'', NULL, 99, NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaDataFormat] ([Id], [Name], [Format], [Description], [Category], [SubCategory], [DataType], [AllowFilter], [AllowFieldProperty], [GroupBy], [FormatDataType], [Position], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'1bc58a6d-9137-4ff8-869b-00f7ddec4366', N'$/100', N'$/100', N'Positive: $150.00', N'Currency', N'', N'Numeric', 0, 1, N'', NULL, 100, NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaDataTypeFunctionMapping] ([Id], [DataType], [FunctionId], [FormatDataType], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'd4c7144d-4617-4da6-8f37-367649f52c02', N'Text', N'69e7d5ae-f396-41fc-819e-ca798d23495f', NULL, NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaDataTypeFunctionMapping] ([Id], [DataType], [FunctionId], [FormatDataType], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'd4c7144d-4617-4da6-8f37-367649f52c03', N'Text', N'8a74f4e0-b845-4b9e-adfa-bb678a116878', N'Numeric', NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaDataTypeFunctionMapping] ([Id], [DataType], [FunctionId], [FormatDataType], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'd4c7144d-4617-4da6-8f37-367649f52c04', N'Text', N'e3e16575-9739-4ff3-950a-7d149f96b4f0', N'Numeric', NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaDBVersion] ([Version]) VALUES (N'0.22.15')
GO
INSERT [dbo].[IzendaExportMarginDefaultValue] ([Id], [Type], [TopValue], [BottomValue], [LeftValue], [RightValue], [HeaderValue], [FooterValue], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'df2d2380-48c9-4249-aacb-8fd3a3465601', 0, 0.75, 0.75, 0.7, 0.7, 0.3, 0.3, 1, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaExportMarginDefaultValue] ([Id], [Type], [TopValue], [BottomValue], [LeftValue], [RightValue], [HeaderValue], [FooterValue], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'df2d2380-48c9-4249-aacb-8fd3a3465602', 1, 0.75, 0.75, 0.25, 0.25, 0.3, 0.3, 1, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaExportMarginDefaultValue] ([Id], [Type], [TopValue], [BottomValue], [LeftValue], [RightValue], [HeaderValue], [FooterValue], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'df2d2380-48c9-4249-aacb-8fd3a3465603', 2, 1, 1, 1, 1, 0.5, 0.5, 1, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaFilterOperator] ([Id], [Name], [Label], [OperatorGroupId], [AllowParameter], [Position], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'5522a5d7-0456-432b-b1fb-02a4283baa3d', N'Not Between (Calendar)', N'Not Between (Calendar)', N'01076b28-8e77-4a54-95d8-060d142a77e6', 0, 35, NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaFilterOperator] ([Id], [Name], [Label], [OperatorGroupId], [AllowParameter], [Position], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'cb64b1fd-6dec-4b18-b348-02b5b984e6c6', N'Equals (Calendar)', N'=', N'01076b28-8e77-4a54-95d8-060d142a77e6', 1, 36, NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaFilterOperator] ([Id], [Name], [Label], [OperatorGroupId], [AllowParameter], [Position], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'4d68d4a2-05ac-4f24-8496-02c1cfe75460', N'Not Equal (Calendar)', N'<>', N'01076b28-8e77-4a54-95d8-060d142a77e6', 0, 37, NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaFilterOperatorGroup] ([Id], [Name], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'95051abc-70eb-4908-8d13-04032aab3c66', N'...', NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaFilterOperatorGroup] ([Id], [Name], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'08b322e2-ac79-406d-8367-046437b4fcd9', N'Comparison', NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaFilterOperatorGroup] ([Id], [Name], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'e023c1f4-42b3-469b-a8d9-04684feeb4ed', N'Equivalence', NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaFilterOperatorRule] ([Id], [OperatorId], [AllowNull], [IsPairedValues], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'5522a5d7-0456-432b-b1fb-02a4283baa3d', N'5522a5d7-0456-432b-b1fb-02a4283baa3d', 0, 1, NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaFilterOperatorRule] ([Id], [OperatorId], [AllowNull], [IsPairedValues], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'6bac46ba-768f-4764-9109-0bc2736bcbfd', N'6bac46ba-768f-4764-9109-0bc2736bcbfd', 1, 0, NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaFilterOperatorRule] ([Id], [OperatorId], [AllowNull], [IsPairedValues], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'ce0fda8a-4515-409c-9d00-0bf56c2b4c4d', N'ce0fda8a-4515-409c-9d00-0bf56c2b4c4d', 1, 0, NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaFunction] ([Id], [Name], [Expression], [SubTotal], [GrandTotal], [FieldProperty], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'14842527-846a-46fc-80fa-307ff0cdce8e', N'Group Days Old', NULL, 0, 0, 1, NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaFunction] ([Id], [Name], [Expression], [SubTotal], [GrandTotal], [FieldProperty], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'6c9000d1-8900-41e8-b759-4a23c6a1ab82', N'Sum Days Old', NULL, 0, 0, 1, NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaFunction] ([Id], [Name], [Expression], [SubTotal], [GrandTotal], [FieldProperty], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'8dc8efc6-9e0a-4c3e-bea0-4daf541ceae4', N'Average', NULL, 1, 1, 1, NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaLanguage] ([Id], [Language], [CultureName], [Version], [Created], [CreatedBy], [Modified], [ModifiedBy], [Deleted]) VALUES (N'c6e7d7b5-4e15-44b7-9538-fd1ab38783f0', N'English - United States', N'en-US', NULL, NULL, NULL, NULL, NULL, 0)
GO
INSERT [dbo].[IzendaLanguage] ([Id], [Language], [CultureName], [Version], [Created], [CreatedBy], [Modified], [ModifiedBy], [Deleted]) VALUES (N'de80459f-cd0a-4443-93c4-a3f87eb0a78f', N'French - Canada', N'fr-CA', NULL, NULL, NULL, NULL, NULL, 0)
GO
INSERT [dbo].[IzendaLanguage] ([Id], [Language], [CultureName], [Version], [Created], [CreatedBy], [Modified], [ModifiedBy], [Deleted]) VALUES (N'15f7bd94-ae10-4fd7-91ed-cae10da3bd9d', N'Arabic', N'ar', NULL, NULL, NULL, NULL, NULL, 0)
GO
INSERT [dbo].[IzendaQuerySource] ([Id], [Name], [Type], [Selected], [Deleted], [ParentQuerySourceId], [CategoryId], [DataSourceCategoryId], [Alias], [ExtendedProperties], [PhysicalChange], [Approval], [Version], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'11bf9a12-c594-4569-9fc2-1894f9055cfa', N'Region', N'Table', 1, 0, NULL, N'99a2ab51-ebc4-4c29-9416-c26394ec8584', NULL, NULL, NULL, 0, 0, NULL, NULL, NULL, CAST(0x0000A6FF00AB825B AS DateTime), NULL)
GO
INSERT [dbo].[IzendaQuerySource] ([Id], [Name], [Type], [Selected], [Deleted], [ParentQuerySourceId], [CategoryId], [DataSourceCategoryId], [Alias], [ExtendedProperties], [PhysicalChange], [Approval], [Version], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'd1538119-2de9-4787-b046-1c5c17f0cfe8', N'Products', N'Table', 1, 0, NULL, N'99a2ab51-ebc4-4c29-9416-c26394ec8584', NULL, NULL, NULL, 0, 0, NULL, NULL, NULL, CAST(0x0000A6FF00AB825B AS DateTime), NULL)
GO
INSERT [dbo].[IzendaQuerySource] ([Id], [Name], [Type], [Selected], [Deleted], [ParentQuerySourceId], [CategoryId], [DataSourceCategoryId], [Alias], [ExtendedProperties], [PhysicalChange], [Approval], [Version], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'7ed1e577-a605-4d91-a583-342dd388367a', N'Customers', N'Table', 1, 0, NULL, N'99a2ab51-ebc4-4c29-9416-c26394ec8584', NULL, NULL, NULL, 0, 0, NULL, NULL, NULL, CAST(0x0000A6FF00AB825B AS DateTime), NULL)
GO
INSERT [dbo].[IzendaQuerySourceCategory] ([Id], [Name], [ParentCategoryId], [ConnectionId], [Deleted], [Version], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'99a2ab51-ebc4-4c29-9416-c26394ec8584', N'dbo', NULL, N'e2d38b4c-e0dc-4d7d-88b9-3797665d2fa8', 0, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaReportCategory] ([Id], [Name], [Type], [ParentId], [TenantId], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'063ae899-45ce-4cd2-a849-f4bbd2049516', N'DemoReport', 0, NULL, N'9dd5ae29-bdb9-4520-ba35-643d4ccc1708', NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaReportDataSource] ([Id], [QuerySourceId], [ReportId], [Deleted], [Version], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'59477a1d-c397-462b-9dd3-20edc4401cf8', N'7827b006-21cf-4c41-97ae-39fa0dc07004', N'f9e17bc6-42de-418d-af87-8516a5c351a0', 0, 1, CAST(0x0000A6FF00B22384 AS DateTime), N'System Admin', CAST(0x0000A6FF00B22384 AS DateTime), N'System Admin')
GO
INSERT [dbo].[IzendaReportDataSource] ([Id], [QuerySourceId], [ReportId], [Deleted], [Version], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'41910911-4890-446b-81db-bf0a3dd961fa', N'7827b006-21cf-4c41-97ae-39fa0dc07004', N'58ec4bec-bb01-4c7a-b0b6-819a8439ea4b', 0, 1, CAST(0x0000A6FF00AF7524 AS DateTime), N'System Admin', CAST(0x0000A6FF00AF7524 AS DateTime), N'System Admin')
GO
INSERT [dbo].[IzendaReportFilter] ([Id], [Logic], [Visible], [ReportId], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'3e929e0a-0f1f-483a-b9ba-aba8ee9ff753', N'1 AND 2', 1, N'58ec4bec-bb01-4c7a-b0b6-819a8439ea4b', 4, 0, CAST(0x0000A6FF00AEF2AB AS DateTime), N'System Admin', CAST(0x0000A6FF00AFBAEE AS DateTime), NULL)
GO
INSERT [dbo].[IzendaReportFilter] ([Id], [Logic], [Visible], [ReportId], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'520870ed-1055-4b57-bda0-d5fbf3ef951c', N'', 1, N'f9e17bc6-42de-418d-af87-8516a5c351a0', 2, 0, CAST(0x0000A6FF00B1CB98 AS DateTime), N'System Admin', CAST(0x0000A6FF00B22386 AS DateTime), NULL)
GO
INSERT [dbo].[IzendaSecurityQuestion] ([Id], [Question], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy], [TenantId], [OrderNumber]) VALUES (N'5784ece5-d2e7-42b1-89bb-859737b7b2a9', N'Question_Number_1', 1, 0, NULL, NULL, NULL, NULL, NULL, 1)
GO
INSERT [dbo].[IzendaSecurityQuestion] ([Id], [Question], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy], [TenantId], [OrderNumber]) VALUES (N'3771bdc2-1add-481a-9649-18a7e494860b', N'Question_Number_2', 1, 0, NULL, NULL, NULL, NULL, NULL, 2)
GO
INSERT [dbo].[IzendaSecurityQuestion] ([Id], [Question], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy], [TenantId], [OrderNumber]) VALUES (N'1704f7c3-0911-40cc-88c5-3c496613f96a', N'Question_Number_3', 1, 0, NULL, NULL, NULL, NULL, NULL, 3)
GO
INSERT [dbo].[IzendaServer] ([Id], [ServerName], [ServerCore], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'6bf99920-2d02-482c-a4c6-55b71f3eee0e', N'52j4v32.kms.com.vn', 2, 1, 0, CAST(0x0000A6FF00AAD62E AS DateTime), NULL, CAST(0x0000A6FF00AAD62E AS DateTime), NULL)
GO
INSERT [dbo].[IzendaServer] ([Id], [ServerName], [ServerCore], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'a891631a-8828-4ed1-a3d4-95d7856d6b35', N'5dmtx32.kms.com.vn', 2, 1, 0, CAST(0x0000A6FF009DF313 AS DateTime), NULL, CAST(0x0000A6FF00AE6D80 AS DateTime), NULL)
GO
INSERT [dbo].[IzendaSystemSetting] ([Id], [Name], [Value], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'f887cbd0-5ba0-4345-bcb7-02acd600cffe', N'WebAPIUrl', N'', NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaSystemSetting] ([Id], [Name], [Value], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'9670328e-505a-46de-9226-0303afadde6a', N'FiscalYear', N'10/01', NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaSystemSetting] ([Id], [Name], [Value], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'aa099dbc-da5c-5ea1-cba3-100d3ecf6e31', N'LicenseExpiredWarningTrial', N'4', NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaSystemVariable] ([Id], [Name], [DataType], [Description], [Scope]) VALUES (N'e6992cf1-0977-4d46-89c5-00627345a785', N'{dashboardLink}', N'Text', N'', 3)
GO
INSERT [dbo].[IzendaSystemVariable] ([Id], [Name], [DataType], [Description], [Scope]) VALUES (N'9499412c-8a0d-4b0c-81c0-009f830f3f3f', N'{embedDashboardHTML}', N'Lob', N'', 3)
GO
INSERT [dbo].[IzendaSystemVariable] ([Id], [Name], [DataType], [Description], [Scope]) VALUES (N'1b2d9a6e-2e78-4ad8-a4a8-0232277b8c6c', N'{dashboardName}', N'Text', N'', 3)
GO
INSERT [dbo].[IzendaTenant] ([Id], [TenantID], [Name], [Description], [Active], [Deleted], [Modules], [PermissionData], [Version], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'f273613f-dc00-4550-a91f-041eb6546e1b', N'test', N'test', NULL, 1, 1, N'', NULL, 1, CAST(0x0000A6FF00A735DD AS DateTime), N'System Admin', CAST(0x0000A6FF00A735DD AS DateTime), N'System Admin')
GO
INSERT [dbo].[IzendaTenant] ([Id], [TenantID], [Name], [Description], [Active], [Deleted], [Modules], [PermissionData], [Version], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'314bf0e1-1e69-4e2d-870e-4829bb4aa46c', N'NATWR', N'NATWR', NULL, 1, 0, N'', NULL, 1, CAST(0x0000A6FF00A2BE8C AS DateTime), N'System Admin', CAST(0x0000A6FF00A2BE8C AS DateTime), N'System Admin')
GO
INSERT [dbo].[IzendaTenant] ([Id], [TenantID], [Name], [Description], [Active], [Deleted], [Modules], [PermissionData], [Version], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'9dd5ae29-bdb9-4520-ba35-643d4ccc1708', N'DELDG', N'DELDG', NULL, 1, 0, N'', NULL, 1, CAST(0x0000A6FF00A0640F AS DateTime), N'System Admin', CAST(0x0000A6FF00A0640F AS DateTime), N'System Admin')
GO
INSERT [dbo].[IzendaTimePeriod] ([Id], [Name], [Type], [Value], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'b8ef8ad0-7a90-4f70-b3f3-52cbaf518335', N'In the Future', N'Long-term Period', N'', NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaTimePeriod] ([Id], [Name], [Type], [Value], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'dae256be-21d4-45c1-8d34-52cf05ba7cf5', N'In the Past', N'Long-term Period', N'', NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaTimePeriod] ([Id], [Name], [Type], [Value], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'1559a72d-22a1-4c8e-b3b4-53414e5b7ff5', N'Current Fiscal Year', N'Fiscal Year', N'0', NULL, 0, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[IzendaUserRole] ([Id], [UserId], [RoleId], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'295b333e-1c17-4b9f-8552-01a47724bd7c', N'43f3ef07-6e8f-4063-945e-cd95a24f16f6', N'a1ee5831-8d4b-41b6-82b3-875cc130a6b7', 1, 0, CAST(0x0000A6FF00A87362 AS DateTime), N'System Admin', CAST(0x0000A6FF00A87362 AS DateTime), N'System Admin')
GO
INSERT [dbo].[IzendaUserRole] ([Id], [UserId], [RoleId], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'3ee1bb81-0fbb-4899-bd64-1ef1717700b6', N'238c21c4-9d58-44b2-9b80-fe0b43985ca3', N'98610244-a53a-42e8-ad8c-c6441b1d8cf7', 1, 0, CAST(0x0000A6FF00A7C932 AS DateTime), N'System Admin', CAST(0x0000A6FF00A7C932 AS DateTime), N'System Admin')
GO
INSERT [dbo].[IzendaUserRole] ([Id], [UserId], [RoleId], [Version], [Deleted], [Created], [CreatedBy], [Modified], [ModifiedBy]) VALUES (N'04a1e738-1e69-47dd-bd1e-32099c10f59e', N'6df0a31a-edfb-4946-a68c-e09bef0b9986', N'58970b43-aa4e-4b9d-8231-f0b0beecf6a8', 1, 0, CAST(0x0000A6FF00A8F451 AS DateTime), N'System Admin', CAST(0x0000A6FF00A8F451 AS DateTime), N'System Admin')
GO
ALTER TABLE [dbo].[IzendaFilterField]  WITH CHECK ADD  CONSTRAINT [FK_IzendaFilterField_IzendaFilterOperator] FOREIGN KEY([OperatorId])
REFERENCES [dbo].[IzendaFilterOperator] ([Id])
GO
ALTER TABLE [dbo].[IzendaFilterField] CHECK CONSTRAINT [FK_IzendaFilterField_IzendaFilterOperator]
GO
ALTER TABLE [dbo].[IzendaFilterField]  WITH CHECK ADD  CONSTRAINT [FK_IzendaFilterField_IzendaReportFilter] FOREIGN KEY([FilterId])
REFERENCES [dbo].[IzendaReportFilter] ([Id])
GO
ALTER TABLE [dbo].[IzendaFilterField] CHECK CONSTRAINT [FK_IzendaFilterField_IzendaReportFilter]
GO
ALTER TABLE [dbo].[IzendaFilterOperator]  WITH CHECK ADD  CONSTRAINT [FK_IzendaFilterOperator_IzendaFilterOperatorGroup] FOREIGN KEY([OperatorGroupId])
REFERENCES [dbo].[IzendaFilterOperatorGroup] ([Id])
GO
ALTER TABLE [dbo].[IzendaFilterOperator] CHECK CONSTRAINT [FK_IzendaFilterOperator_IzendaFilterOperatorGroup]
GO
ALTER TABLE [dbo].[IzendaQuerySource]  WITH CHECK ADD  CONSTRAINT [FK_IzendaQuerySource_IzendaDataSourceCategory] FOREIGN KEY([DataSourceCategoryId])
REFERENCES [dbo].[IzendaDataSourceCategory] ([Id])
GO
ALTER TABLE [dbo].[IzendaQuerySource] CHECK CONSTRAINT [FK_IzendaQuerySource_IzendaDataSourceCategory]
GO
ALTER TABLE [dbo].[IzendaQuerySource]  WITH CHECK ADD  CONSTRAINT [FK_QuerySource_QuerySourceCategory] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[IzendaQuerySourceCategory] ([Id])
GO
ALTER TABLE [dbo].[IzendaQuerySource] CHECK CONSTRAINT [FK_QuerySource_QuerySourceCategory]
GO
ALTER TABLE [dbo].[IzendaQuerySourceCategory]  WITH CHECK ADD  CONSTRAINT [FK_QuerySourceCategory_Connection] FOREIGN KEY([ConnectionId])
REFERENCES [dbo].[IzendaConnection] ([Id])
GO
ALTER TABLE [dbo].[IzendaQuerySourceCategory] CHECK CONSTRAINT [FK_QuerySourceCategory_Connection]
GO
ALTER TABLE [dbo].[IzendaReportFilter]  WITH CHECK ADD  CONSTRAINT [FK_IzendaReportFilter_IzendaReport] FOREIGN KEY([ReportId])
REFERENCES [dbo].[IzendaReport] ([Id])
GO
ALTER TABLE [dbo].[IzendaReportFilter] CHECK CONSTRAINT [FK_IzendaReportFilter_IzendaReport]
GO
ALTER TABLE [dbo].[IzendaWorkspaceMapping]  WITH CHECK ADD  CONSTRAINT [FK_IzendaWorkspaceMapping_IzendaWorkspace] FOREIGN KEY([WorkspaceId])
REFERENCES [dbo].[IzendaWorkspace] ([Id])
GO
ALTER TABLE [dbo].[IzendaWorkspaceMapping] CHECK CONSTRAINT [FK_IzendaWorkspaceMapping_IzendaWorkspace]
GO
ALTER TABLE [dbo].[IzendaWorkspaceMappingTenant]  WITH CHECK ADD  CONSTRAINT [FK_WorkspaceMappingTenant_IzendaWorkspaceMapping] FOREIGN KEY([WorkspaceMappingId])
REFERENCES [dbo].[IzendaWorkspaceMapping] ([Id])
GO
ALTER TABLE [dbo].[IzendaWorkspaceMappingTenant] CHECK CONSTRAINT [FK_WorkspaceMappingTenant_IzendaWorkspaceMapping]
GO
ALTER TABLE [dbo].[IzendaWorkspaceTenant]  WITH CHECK ADD  CONSTRAINT [FK_IzendaWorkspaceTenant_IzendaWorkspace] FOREIGN KEY([WorkspaceId])
REFERENCES [dbo].[IzendaWorkspace] ([Id])
GO
ALTER TABLE [dbo].[IzendaWorkspaceTenant] CHECK CONSTRAINT [FK_IzendaWorkspaceTenant_IzendaWorkspace]
GO

